In [19]:
## RawScores Data

import pandas as pd

file_path = '/Users/ashlyn/Desktop/DATA 6550/data/compas-scores-raw.csv'

RawScores = pd.read_csv(file_path)

RawScores.head()

### uploading the data

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0

In [20]:
## RawScores Data

print(RawScores.dtypes)

### showing data types

Person_ID                    int64
AssessmentID                 int64
Case_ID                      int64
Agency_Text                 object
LastName                    object
FirstName                   object
MiddleName                  object
Sex_Code_Text               object
Ethnic_Code_Text            object
DateOfBirth                 object
ScaleSet_ID                  int64
ScaleSet                    object
AssessmentReason            object
Language                    object
LegalStatus                 object
CustodyStatus               object
MaritalStatus               object
Screening_Date              object
RecSupervisionLevel          int64
RecSupervisionLevelText     object
Scale_ID                     int64
DisplayText                 object
RawScore                   float64
DecileScore                  int64
ScoreText                   object
AssessmentType              object
IsCompleted                  int64
IsDeleted                    int64
dtype: object

In [24]:
## RawScores Data

RawScores['DateOfBirth'] = pd.to_datetime(RawScores['DateOfBirth'], errors='coerce')
RawScores['Screening_Date'] = pd.to_datetime(RawScores['Screening_Date'], errors='coerce')

### changing dates from object to datetime

/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_28319/2456642138.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  RawScores['DateOfBirth'] = pd.to_datetime(RawScores['DateOfBirth'], errors='coerce')
/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_28319/2456642138.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  RawScores['Screening_Date'] = pd.to_datetime(RawScores['Screening_Date'], errors='coerce')

In [26]:
## RawScores Data

categorical_columns = ['Sex_Code_Text', 'Ethnic_Code_Text', 'Agency_Text', 
                       'LastName', 'FirstName', 'MiddleName', 'MaritalStatus', 
                       'Screening_Date', 'RecSupervisionLevelText', 'ScaleSet', 
                       'AssessmentReason', 'Language', 'LegalStatus', 'CustodyStatus', 
                       'AssessmentType', 'ScoreText']

for col in categorical_columns:
    RawScores[col] = RawScores[col].astype('category')

### organizing the categorical columns

In [27]:
## RawScores Data

RawScores['RawScore'] = pd.to_numeric(RawScores['RawScore'], errors='coerce')
RawScores['DecileScore'] = pd.to_numeric(RawScores['DecileScore'], errors='coerce')

### changing needed columns to numeric

In [29]:
## RawScores Data

nulls = RawScores.isnull().sum()

print(nulls[nulls > 0])

### checking nulls
### either fill middle names with a "  " (blank) or n/a

MiddleName    45219
ScoreText        45
dtype: int64

****

In [18]:
## ViolentParsedFilt Data

import pandas as pd

file_path = '/Users/ashlyn/Desktop/DATA 6550/data/cox-violent-parsed_filt.csv'

ViolentParsedFilt = pd.read_csv(file_path)

ViolentParsedFilt.head()

### uploading the data

,id,name,first,last,sex,dob,age,age_cat,race,juv_fel_count,...,vr_charge_desc,type_of_assessment,decile_score.1,score_text,screening_date,v_type_of_assessment,v_decile_score,v_score_text,priors_count.1,event
0,1.0,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,Risk of Recidivism,1,Low,14/08/2013,Risk of Violence,1,Low,0,0
1,2.0,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,Risk of Recidivism,1,Low,14/08/2013,Risk of Violence,1,Low,0,0
2,3.0,michael ryan,michael,ryan,Male,06/02/1985,31,25 - 45,Caucasian,0,...,NaN,Risk of Recidivism,5,Medium,31/12/2014,Risk of Violence,2,Low,0,0
3,4.0,kevon dixon,kevon,dixon,Male,22/01/1982,34,25 - 45,African-American,0,...,Felony Battery (Dom Strang),Risk of Recidivism,3,Low,27/01/2013,Risk of Violence,1,Low,0,1
4,5.0,ed philo,ed,philo,Male,14/05/1991,24,Less than 25,African-American,0,...,NaN,Risk of Recidivism,4,Low,14/04/2013,Risk of Violence,3,Low,4,0

In [21]:
## ViolentParsedFilt Data

print(ViolentParsedFilt.dtypes)

### showing data types

id                         float64
name                        object
first                       object
last                        object
sex                         object
dob                         object
age                          int64
age_cat                     object
race                        object
juv_fel_count                int64
decile_score                 int64
juv_misd_count               int64
juv_other_count              int64
priors_count                 int64
days_b_screening_arrest    float64
c_jail_in                   object
c_jail_out                  object
c_days_from_compas         float64
c_charge_degree             object
c_charge_desc               object
is_recid                     int64
r_charge_degree             object
r_days_from_arrest         float64
r_offense_date              object
r_charge_desc               object
r_jail_in                   object
violent_recid              float64
is_violent_recid             int64
vr_charge_degree            object
vr_offense_date             object
vr_charge_desc              object
type_of_assessment          object
decile_score.1               int64
score_text                  object
screening_date              object
v_type_of_assessment        object
v_decile_score               int64
v_score_text                object
priors_count.1               int64
event                        int64
dtype: object

In [30]:
## ViolentParsedFilt Data

ViolentParsedFilt['dob'] = pd.to_datetime(ViolentParsedFilt['dob'], errors='coerce')
ViolentParsedFilt['screening_date'] = pd.to_datetime(ViolentParsedFilt['screening_date'], errors='coerce')
ViolentParsedFilt['r_offense_date'] = pd.to_datetime(ViolentParsedFilt['r_offense_date'], errors='coerce')
ViolentParsedFilt['r_jail_in'] = pd.to_datetime(ViolentParsedFilt['r_jail_in'], errors='coerce')
ViolentParsedFilt['vr_offense_date'] = pd.to_datetime(ViolentParsedFilt['vr_offense_date'], errors='coerce')

### changing dates from object to datetime

/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_28319/4284048622.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ViolentParsedFilt['dob'] = pd.to_datetime(ViolentParsedFilt['dob'], errors='coerce')
/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_28319/4284048622.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ViolentParsedFilt['screening_date'] = pd.to_datetime(ViolentParsedFilt['screening_date'], errors='coerce')
/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_28319/4284048622.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ViolentParsedFilt['r_jail_in'] = pd.to_datetime(ViolentParsedFilt['r_jail_in'], errors='coerce')

In [31]:
## ViolentParsedFilt Data

ViolentParsedFilt.isnull().sum()

### checking for nulls
### quite a few, which to drop?

id                          7315
name                           0
first                          0
last                           0
sex                            0
dob                            0
age                            0
age_cat                        0
race                           0
juv_fel_count                  0
decile_score                   0
juv_misd_count                 0
juv_other_count                0
priors_count                   0
days_b_screening_arrest     1297
c_jail_in                   1297
c_jail_out                  1297
c_days_from_compas           867
c_charge_degree              867
c_charge_desc                881
is_recid                       0
r_charge_degree             9899
r_days_from_arrest         11957
r_offense_date             14963
r_charge_desc              10039
r_jail_in                  11957
violent_recid              18316
is_violent_recid               0
vr_charge_degree           16977
vr_offense_date            17766
vr_charge_desc             16977
type_of_assessment             0
decile_score.1                 0
score_text                    23
screening_date                 0
v_type_of_assessment           0
v_decile_score                 0
v_score_text                   6
priors_count.1                 0
event                          0
dtype: int64

****

In [9]:
## ViolentParsed Data

file_path = '/Users/ashlyn/Desktop/DATA 6550/data/cox-violent-parsed.csv'

ViolentParsed = pd.read_csv(file_path)

ViolentParsed.head()

### uploading the data

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,0,327,0
1,2.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,334,961,0
2,3.0,michael ryan,michael,ryan,31/12/2014,Male,06/02/1985,31,25 - 45,Caucasian,...,Risk of Violence,2,Low,31/12/2014,30/12/2014,03/01/2015,0,3,457,0
3,4.0,kevon dixon,kevon,dixon,27/01/2013,Male,22/01/1982,34,25 - 45,African-American,...,Risk of Violence,1,Low,27/01/2013,26/01/2013,05/02/2013,0,9,159,1
4,5.0,ed philo,ed,philo,14/04/2013,Male,14/05/1991,24,Less than 25,African-American,...,Risk of Violence,3,Low,14/04/2013,16/06/2013,16/06/2013,4,0,63,0

In [22]:
## ViolentParsed Data

print(ViolentParsed.dtypes)

### checking datatypes

id                         float64
name                        object
first                       object
last                        object
compas_screening_date       object
sex                         object
dob                         object
age                          int64
age_cat                     object
race                        object
juv_fel_count                int64
decile_score                 int64
juv_misd_count               int64
juv_other_count              int64
priors_count                 int64
days_b_screening_arrest    float64
c_jail_in                   object
c_jail_out                  object
c_case_number               object
c_offense_date              object
c_arrest_date               object
c_days_from_compas         float64
c_charge_degree             object
c_charge_desc               object
is_recid                     int64
r_case_number               object
r_charge_degree             object
r_days_from_arrest         float64
r_offense_date              object
r_charge_desc               object
r_jail_in                   object
r_jail_out                  object
violent_recid              float64
is_violent_recid             int64
vr_case_number              object
vr_charge_degree            object
vr_offense_date             object
vr_charge_desc              object
type_of_assessment          object
decile_score.1               int64
score_text                  object
screening_date              object
v_type_of_assessment        object
v_decile_score               int64
v_score_text                object
v_screening_date            object
in_custody                  object
out_custody                 object
priors_count.1               int64
start                        int64
end                          int64
event                        int64
dtype: object

In [ ]:
## ViolentParsed Data

ViolentParsed['dob'] = pd.to_datetime(ViolentParsed['dob'], errors='coerce')
ViolentParsed['compas_screening_date'] = pd.to_datetime(ViolentParsed['compas_screening_date'], errors='coerce')
ViolentParsed['c_jail_in'] = pd.to_datetime(ViolentParsed['c_jail_in'], errors='coerce')
ViolentParsed['c_jail_out'] = pd.to_datetime(ViolentParsed['c_jail_out'], errors='coerce')
ViolentParsed['c_offense_date'] = pd.to_datetime(ViolentParsed['c_offense_date'], errors='coerce')
ViolentParsed['c_arrest_date'] = pd.to_datetime(ViolentParsed['c_arrest_date'], errors='coerce')
ViolentParsed['r_offense_date'] = pd.to_datetime(ViolentParsed['r_offense_date'], errors='coerce')
ViolentParsed['r_jail_in'] = pd.to_datetime(ViolentParsed['r_jail_in'], errors='coerce')
ViolentParsed['r_jail_out'] = pd.to_datetime(ViolentParsed['r_jail_out'], errors='coerce')
ViolentParsed['vr_offense_date'] = pd.to_datetime(ViolentParsed['vr_offense_date'], errors='coerce')
ViolentParsed['v_screening_date'] = pd.to_datetime(ViolentParsed['v_screening_date'], errors='coerce')

### changing dates from object to date time

In [32]:
## ViolentParsed Data

ViolentParsed.isnull().sum()

### checking for nulls
### which to keep/remove?

id                          7315
name                           0
first                          0
last                           0
compas_screening_date          0
sex                            0
dob                            0
age                            0
age_cat                        0
race                           0
juv_fel_count                  0
decile_score                   0
juv_misd_count                 0
juv_other_count                0
priors_count                   0
days_b_screening_arrest     1297
c_jail_in                   1297
c_jail_out                  1297
c_case_number                867
c_offense_date              3952
c_arrest_date              15231
c_days_from_compas           867
c_charge_degree              867
c_charge_desc                881
is_recid                       0
r_case_number               9899
r_charge_degree             9899
r_days_from_arrest         11957
r_offense_date              9899
r_charge_desc              10039
r_jail_in                  11957
r_jail_out                 11957
violent_recid              18316
is_violent_recid               0
vr_case_number             16977
vr_charge_degree           16977
vr_offense_date            16977
vr_charge_desc             16977
type_of_assessment             0
decile_score.1                 0
score_text                    23
screening_date                 0
v_type_of_assessment           0
v_decile_score                 0
v_score_text                   6
v_screening_date               0
in_custody                   594
out_custody                  594
priors_count.1                 0
start                          0
end                            0
event                          0
dtype: int64

****

In [10]:
## Recividism Data

file_path = '/Users/ashlyn/Desktop/DATA 6550/data/propublica_data_for_fairml.csv'

Recividism = pd.read_csv(file_path)

Recividism.head()

### uploading the data

,Two_yr_Recidivism,Number_of_Priors,score_factor,Age_Above_FourtyFive,Age_Below_TwentyFive,African_American,Asian,Hispanic,Native_American,Other,Female,Misdemeanor
0,0,0,0,1,0,0,0,0,0,1,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0
2,1,4,0,0,1,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,1
4,1,14,1,0,0,0,0,0,0,0,0,0

In [23]:
## Recividism Data

print(Recividism.dtypes)

### checking data types
### all integers

Two_yr_Recidivism       int64
Number_of_Priors        int64
score_factor            int64
Age_Above_FourtyFive    int64
Age_Below_TwentyFive    int64
African_American        int64
Asian                   int64
Hispanic                int64
Native_American         int64
Other                   int64
Female                  int64
Misdemeanor             int64
dtype: object

In [34]:
## Recividism Data

Recividism.isnull().sum()

### check for nulls
### 0 nulls :)

Two_yr_Recidivism       0
Number_of_Priors        0
score_factor            0
Age_Above_FourtyFive    0
Age_Below_TwentyFive    0
African_American        0
Asian                   0
Hispanic                0
Native_American         0
Other                   0
Female                  0
Misdemeanor             0
dtype: int64

****